.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 66%;
    height: 50vh;
    padding: 40px;
    border-radius: 20px;
    margin: 100px auto;
    overflow: hidden;
    background-color: var(--color-card);
}

.aboutHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutHeader h1{
    font-size: 3rem;
    color: var(--color-white);
}

.aboutHeader hr{
    width: 120px;
    height: 3px;
    background-color: var(--color-white);
    border-radius: 5px;
}

.aboutGroup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

.aboutDescription p{
    width: 600px;
    text-align: justify;
    margin-top: 50px;
    font-size: 1.2qrem;
    font-weight: 500;
    color: var(--color-white);
}

.aboutGalleryImg {
    width: 10%; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantenha a proporção da imagem */
    object-fit: cover; /* Faz com que a imagem cubra a área do contêiner */
  }
  
.slick-slide {
  /* Ajuste a largura e altura das imagens dentro do carrossel */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px; /* Altura padrão, ajuste conforme necessário */
}

.slick-track {
  display: flex;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

@media (max-width: 1250px){
  
}

