.about{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120vh;
  height: 50vh;
  padding: 30px;
  border-radius: 20px;
  margin: 100px auto;
  overflow: hidden;
  background-color: var(--color-card);
  box-shadow: 0 2rem 3rem  var(--color-box-shadow);
  transition: all 0.3s ease;
}

.about:hover{
  box-shadow: none;
}

.aboutHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutHeader h1{
    font-size: 3rem;
    color: var(--color-white);
}

.aboutHeader hr{
    width: 120px;
    height: 3px;
    background-color: var(--color-white);
    border-radius: 5px;
}

.aboutDescription p{
    width: 400px;
    text-align: justify;
    margin-top: 50px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
}

.aboutGallery{
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
}

.aboutSlider{
  margin-top: 50px;
  width: 60vh;
  height: 30vh;
  border-radius: 20px;
}

.aboutSlider img{
  border-radius: 20px;
  object-fit: cover;
  height: 33vh;
}   


@media (max-width: 1250px){

  .about{
    width: 100vh;
    height: 60vh;
    gap: 30px;
  }

  .aboutDescription p{
    width: 400px;
   
    margin-top: 50px;
    font-size: 1rem;
  }

  .aboutSlider{
    margin-top: 50px;
    width: 50vh;
    height: 30vh;
  }

  .aboutSlider img{
    height: 33vh;
  } 
}

@media (max-width: 1050px){

  .about{
    width: 75vh;
    height: 50vh;
    gap: 10px;
  }

  .aboutHeader h1{
    font-size: 2.5rem;
  }

  .aboutHeader hr{
    width: 80px;
    height: 1.5px;
  }

  .aboutDescription p{
    width: 300px;
    margin-top: 50px;
    font-size: 0.9rem;
  }

  .aboutSlider{
    margin-top: 50px;
    width: 35vh;
    height: 30vh;
  }

  .aboutSlider img{
    height: 33vh;
  } 
}

@media (max-width: 800px){

  .about{
    width: 45vh;
    height: 90vh;
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .aboutDescription p{
    width: 400px;
    margin-top: 50px;
    font-size: 0.9rem;
  }

  .aboutSlider{
    margin-top: 50px;
    width: 45vh;
    height: 30vh;
  }

  .aboutSlider img{
    height: 33vh;
  } 
}

@media (max-width: 500px){

  .about{
    width: 35vh;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
  }

  .aboutHeader h1{
    font-size: 2rem;
  }

  .aboutHeader hr{
    width: 60px;
    height: 1.5px;
  }

  .aboutDescription p{
    width: 250px;
    margin-top: 50px;
    font-size: 0.7rem;
  }

  .aboutSlider{
    margin-top: 50px;
    width: 33vh;
    height: 30vh;
  }

  .aboutSlider img{
    height: 35vh;
    margin-bottom: 10px;
  } 
}

