.container {
    width: 100%;
}

.heroContainer {
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
}

.heroSlide {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.heroOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a cor e opacidade conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

.heroText {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: #8098f5;
}
.mainTitle {
    font-size: 3rem;
    font-weight: bold;
    color: #d3dfff;
}

.headline {
    font-size: 3rem;
    text-transform: uppercase;
    color:  #e2e9ff;
    font-weight: bold;
}
  
.navbarButton{
    background-color: var(--color-button);
    color: white;
    width: 300px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 0.5rem 2rem;
    border-radius: 9999px;
    position: relative;
    z-index: 10;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.navbarButton:hover {
    transform: scale(1.05); 
    background-color: #17347c;
    transition: 0.5s;
}

@media (min-width: 640px) {
    .subtitle {
      font-size: 6rem;
    }
  }
  
  @media (min-width: 1024px) {
    .subtitle {
      font-size: 2rem;
    }
  }

@media (min-width: 640px) {
    .main-title {
      font-size: 6rem;
    }
  }
  
  @media (min-width: 1024px) {
    .main-title {
      font-size: 7rem;
    }
  }

@media (min-width: 640px) {
.headline {
  font-size: 80px;
}
}

@media (min-width: 768px) {
.headline {
  font-size: 100px;
}
}

@media (min-width: 1280px) {
.headline {
  font-size: 150px;
}
}

@media (min-width: 640px) {
    .heroContainer {
        min-height: 650px;
    }
}

@media (min-width: 640px) {
    .heroContent {
        padding-bottom: 0;
    }
}

@media (min-width: 640px) {
    .heroText {
        text-align: left;
    }
}

.heroSubtitle {
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 640px) {
    .heroSubtitle {
        font-size: 6rem;
    }
}

.heroTitle {
    font-size: 5rem;
    font-weight: bold;
}

@media (min-width: 640px) {
    .heroTitle {
        font-size: 6rem;
    }
}

.heroTitle2 {
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

@media (min-width: 640px) {
    .heroTitle2 {
        font-size: 8rem;
    }

    @media (min-width: 1024px) {
        .heroTitle2 {
            font-size: 10rem;
        }

        @media (min-width: 1280px) {
            .heroTitle2 {
                font-size: 15rem;
            }
        }
    }
}


@media (max-width: 1250px) {
    .navbarButton {
        font-size: 16px;
        height: 70px;
        width: 100%;
    }
}

@media (max-width: 1050px) {
    .navbarButton {
        font-size: 16px;
        height: 60px;
        width: 90%;
    }
}

@media (max-width: 800px) {
    .navbarButton {
        font-size: 13px;
        height: 50px;
        width: 80%;
    }
}

@media (max-width: 500px) {
    .navbarButton {
        font-size: 13px;
        height: 50px;
        width: 80%;
    }
}
