.loginSignup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(
        to right, 
        #A9A9A9 0%, 
        #FFFFFF 21%, 
        #dddddd 30%, 
        #dddddd 70%, 
        #EFEFEF 80%, 
        #A9A9A9 100%
    );
    transition: background-color 0.3s ease;
}