.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;
    width: 40%;
    margin-bottom: 50px;
    background-color: var(--color-card);
}

.contactHeader{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.contactHeader h1{
    font-size: 2.6rem;
}

.contactHeader hr{
    width: 350px;
    height: 2px;
    background-color: var(--color-white);
    border-radius: 5px;
}

.contactForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     width: 300px;  
}

.contactForm input{
    width: 450px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    color: rgb(43, 43, 43);
    font-size: 1.1rem;
    padding: 5px;
}

.contactForm textarea{
    width: 440px;
    height: 120px;
    margin: 20px;
    border-radius: 10px;
    border: none;
    color: rgb(43, 43, 43);
    font-size: 1.1rem;
    padding: 10px;
    resize: none;
}

.contactForm button {
    width: 35vh;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    background-color: var(--color-button);
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}
  
  .contactForm button:hover {
    background-color: #17347c;
    transition: 0.5s;
    width: 40vh;
    height: 55px;
}

@media (max-width: 1250px){
    .contact{
        width: 45%;
    }

    .contactHeader h1{
        font-size: 2.5rem;
    }

    .contactHeader hr{
        width: 280px;
    }
}

@media (max-width: 1050px){
    .contact{
        width: 47%;
    }

    .contactHeader h1{
        font-size: 2rem;
    }

    .contactHeader hr{
        width: 260px;
    }

    .contactForm input{
        width: 320px;
    }    

    .contactForm textarea{
        width: 310px;
    }

    .contactForm button{
        width: 30vh;
    }
}

@media (max-width: 800px){
    .contact{
        width: 350px;
    }

    .contactHeader h1{
        font-size: 1.8rem;
    }

    .contactHeader hr{
        width: 220px;
    }

    .contactForm input{
        width: 320px;
    }    

    .contactForm textarea{
        width: 310px;
    }

    .contactForm button{
        width: 30vh;
    }
}

@media (max-width: 500px){
    .contact{
        width: 280px;
    }

    .contactHeader{
        margin-bottom: 20px;
    }

    .contactHeader h1{
        font-size: 1.5rem;
    }

    .contactHeader hr{
        width: 200px;
    }

    .contactForm input{
        width: 270px;
        height: 30px;
        font-size: 0.9rem;
        margin: 15px;
    }    

    .contactForm textarea{
        width: 260px;
        height: 80px;
        margin: 10px;
    }

    .contactForm button{
        width: 25vh;
        margin-top: 20px;
    }
}